:root {
  --blue: #009cde;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}

footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--blue);
  color: #fff;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--blue);
  color: #fff;
  font-size: 1.5rem;
}

.bracketry-wrapper {
  display: flex;
  margin: auto;
  height: 80vh;
  max-height: 800px;
  max-width: 100vw;
}

@media (max-width: 700px) {
  footer {
    display: none;
  }
  .header {
    font-size: 1rem;
  }
}
