*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow: hidden;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #ccc;
}

header {
    text-align: center;
    background-color: #CCC;
}

.bracketry-wrapper {
    display: flex;
    margin: auto;
    height: 80vh;
    max-height: 800px
}

.bracketry-wrapper h1 { 
    font-size: 2.5rem;
}